@media (width > theme("screens.xl")) {
  .project-illustration {
    mask-image: linear-gradient(
        to var(--direction, right),
        transparent 0%,
        black 5%,
        black 100%
      ),
      linear-gradient(
        to bottom,
        transparent 0%,
        black 1%,
        black 99%,
        transparent 100%
      );
    mask-composite: intersect; /* Only shows overlapping opaque areas */
    mask-size: 100% 100%;
  }

  .onleft .project-illustration {
    --direction: left;
  }
}

.project-illustration img:hover {
  transform: scale(1.1);
}
.project-illustration img {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
  max-height: 400px;
}
