@media (width > theme("screens.xl")) {
  #about::before {
    --left: -8rem;
    --top: 10rem;
  }
}

.about em {
  color: var(--text-color);
  font-style: normal;
  font-weight: 600;
}

.about h3 {
  color: var(--text-color);
}

.secondary-button {
  --background-color: oklch(92.2% 0 0); /* neutral-200 */
  --background-color-hover: oklch(87% 0 0); /* neutral-300 */
}

.dark .secondary-button {
  --background-color: transparent;
  --background-color-hover: oklch(26.9% 0 0); /* neutral-800 */
}
