.popup-img {
  mask-image: linear-gradient(
    to bottom,
    black 0%,
    transparent 85%,
    transparent 100%
  );
}

.blocked {
  background-color: var(--primary-color) !important;
  opacity: 0.6;
  cursor: no-drop;
}

.dark .popup {
  background-color: #191919;
}

.popup {
  background-color: var(--base-bg-color);
  border: 1px solid rgba(200, 200, 200, 0.1); /* Ultra-light border for edge definition */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1); /* Soft layered shadow */
}
