.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  height: var(--timeline-height, 50%);
  background-color: var(--primary-color);
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 40%,
    var(--primary-color) 50%,
    var(--primary-color) 60%,
    var(--primary-color) 85%,
    white 95%,
    white 100%
  );
  top: 0;
  left: 1.25rem;
  margin-left: -1px;
  z-index: -1;
  transition: height 0.5s ease-out;
  will-change: height;
}

.timeline-item {
  position: relative;
  padding: 0 3rem 2rem 3rem;
  width: 100%;
  left: 0;
  opacity: 0;
  --svg-size: 2.5rem;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-item:nth-child(2n) {
  left: 0;
}

/* Custom media queries using Tailwind's breakpoints */
@media (min-width: theme("screens.lg")) {
  /* Styles for sm screens and up */
  .timeline::after {
    left: 50%;
  }
  .timeline-item {
    width: 50%;
  }
  .timeline-item:nth-child(2n) {
    left: 50%;
  }
}

@media (width > theme("screens.xl")) {
  .timeline-item {
    --svg-size: 3.5rem;
  }
}

.timeline-item .svg-container {
  position: absolute;
  width: var(--svg-size, 2.5rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: none;
  /* border: 1px solid oklch(from var(--primary-color) l c h / 0.7); */
  right: calc(100% - 2.5rem);
  filter: grayscale(0.8);
}
.timeline-item:nth-child(2n) .svg-container {
  left: 0;
}
@media (min-width: theme("screens.lg")) {
  .timeline-item:nth-child(2n) .svg-container {
    left: calc(var(--svg-size, 2.5rem) * (-1) / 2);
  }
  .timeline-item .svg-container {
    right: calc(var(--svg-size, 2.5rem) * (-1) / 2);
  }
}

.timeline-item .svg-container svg {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 68%;
  height: 68%;
}
