@import "tailwindcss";

@layer base {
  html {
    font-family: "Figtree", system-ui, Avenir, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
  }
}

:root {
  --primary-color: oklch(0.73 0.1603 155.65);
}

#root {
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 3px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
