@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Figtree", system-ui, Avenir, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
  }

  h3 {
    @apply text-2xl md:text-4xl font-bold;
  }
}
/* https://www.youtube.com/watch?v=4jB8bKto1BM&ab_channel=KevinPowell */
h1,
h2,
h3 {
  text-wrap: balance;
}

:root {
  --primary-color: oklch(0.73 0.1603 155.65);
  --primary-hover: oklch(0.63 0.1603 155.65);
  --text-color: rgba(255, 255, 255, 0.87);
  line-height: 1.7;
}

#root {
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 3px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
